# for this project only
# EEG_data/

# for local use
.vscode/
.cursor/
.DS_Store
__pycache__/

# execute file
*.exe
*.out
*.o

# data
*.csv
*.png
*.jpg
*.jpeg
*.mat

# file
*.docx
*.doc
*.ppt
*.pptx

